html {
  min-width: 360px;
}
body {
  max-width: 100%;
  background-color: #f6f8fa;
}

table {
  border: 1px solid black;
  width: 90%;
  padding: 0;
  margin: 0;

  border-collapse: separate;
  border-radius: 6px;
  -moz-border-radius: 6px;
}

td {
  border-top: solid black 1px;
}

a {
  background-color: #f69e7b;
  color: white;
  padding: 0.4em 0.4em;
  text-decoration: none;
}

a:hover {
  background-color: #24292e;
}

#tableHead {
  border-top: none;
}

.container {
  max-width: 100%;
  width: 100%;
}

.searchSection {
  max-width: 65%;
  height: 3rem;
}

.userInformation {
  max-width: 65%;
  width: 65%;
  margin: 0 0 20% 20%;
}

.userProfile {
  max-width: 30%;
  width: 30%;
  float: left;
}

.repoSection {
  width: 60%;
  max-width: 60%;
  float: right;
}

.userRepos {
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-right: 2rem;
  border: none;

  max-height: 36rem;
  overflow-y: scroll;
  text-align: center;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(112, 109, 109, 0.5);
  /*-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);*/
}

.repos {
  max-width: 95%;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  /*overflow-y: scroll;*/
  border-radius: 15px;
  margin-bottom: 1rem;
}

.repoHeadings {
  font-weight: bold;
}

.profileVariables {
  float: left;
}

#header {
  margin: 3rem;
}

#searchBox {
  width: 50%;
  height: 2rem;
  border-radius: 15px;
}
#searchBox:focus,
select:focus {
  outline: none;
}
#searchButton {
  width: 15%;
  height: 2rem;
  border-radius: 10px;
  margin-left: 2rem;
  background-color: #f69e7b;
  color: white;
}
#searchButton:hover {
  background-color: #24292e;
}
#profilePicture {
  max-width: 45%;
  width: 45%;
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .userProfile {
    float: none;
    width: 100%;
    max-width: 100%;
    border: 0;
    /*margin-left: 2rem;*/
  }

  .repoSection {
    float: none;
    width: 100%;
    max-width: 100%;
    border: 0;
  }

  .searchSection {
    width: 100%;
    max-width: 100%;
  }
  #searchBox {
    width: 65%;
    float: left;
  }
  #searchButton {
    text-align: center;
    width: 30%;
    float: right;
    margin-left: 0.5rem;
  }
}
